<!doc html>
    <html>

    {% load static %}

    <head>
        <script src='{% static "js/jquery-3.7.1.min.js" %}'></script>

        <script>

            $(document).ready(function () {

                alert(html_name3);

                var html_name4 = "{% static " + html_name3 + "%}";

                $("#hz").load(html_name4);

            });

        </script>

        <script type="text/javascript">
	        function vote() {
                if(document.getElementById('htmlname').value=="") {
                    alert("html 파일명을 입력해주세요.");
                } else {
                    document.getElementById('frm').submit();
                }
            }
        </script>

    </head>

    <body>
        <div>
            <h1>Hello World</h1>
            <h3>{{ html_name}}</h3>
        </div>
        <div>
            <div id="hz">
                <h2>여긴 어디?</h2>
            </div>
            <div>

                <form action="/nirs/exe_search_html" method="post" id="frm">

                    <input name = "html_name3" type="hidden" value="{{ html_name }}">

                    {% csrf_token %}

                    <table class="insert_table">
                        <tr>
                            <th>html 파일</th>
                            <td>
                                <input id="htmlname" name="htmlname" type="text" value="{{htmlname}}" required
                                    style="width:400px;"><button onclick="vote()">조회</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>

    </html>