<!doc html>
    <html>

    {% load static %}

    <head>
        <script src='{% static "jquery-3.7.1.min.js" %}'></script>

        <script>

            $(document).ready(function () {

                $("button").click(function () {

                    document.getElementById('frm').submit();

                });
                
                $("#hz").load("{% static 'sample.html' %}");

            });

        </script>

    </head>

    <body>
        <div>
            <h1>Hello World</h1>
        </div>
        <div>
            <div id="hz">
                <h2>여긴 어디?</h2>
            </div>
            <div>

                <form action="/ansible/exe_search_html" method="post" id="frm">

                    {% csrf_token %}

                    <table class="insert_table">
                        <tr>
                            <th>html 파일</th>
                            <td>
                                <input id="htmlname" name="htmlname" type="text" value="{{htmlname}}" required
                                    style="width:400px;"><button onclick="vote()">조회</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>

    </html>