
{% load static %}

<!doc html>

<html>

<head>
    <script src='{% static "jquery-3.7.1.min.js" %}'></script>
    <script src='{% static "jquery.table2excel.min.js" %}'></script>

    <script>

        $(document).ready(function () {

            $("#html").load("{{ html_file }}");
            
        });

    </script>

    <script type="text/javascript">
        function search() {
            if(document.getElementById('date').value == "") {
                alert("수집 일자를 입력해주세요.");
            } else {
                document.getElementById('frm').submit();
            }
        }

        $(function() {
            $(".exportToExcel").click(function(e){
                var table = $(this).prev('.table2excel');
                if(table && table.length){
                    var preserveColors = (table.hasClass('table2excel_with_colors') ? true : false);
                    $(table).table2excel({
                        exclude: ".noExl",
                        name: "Excel Document Name",
                        filename: "myFileName" + new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
                        fileext: ".xls",
                        exclude_img: true,
                        exclude_links: true,
                        exclude_inputs: true,
                        preserveColors: preserveColors
                    });
                }
            });
            
        });
    </script>

</head>

<body>
    <div>
        <h1>서버 정보 조회 서비스</h1>
    </div>
    <div>
        <div>

            <form action="/ansible/exe_search_vmware/" method="post" id="frm">

                {% csrf_token %}

                <table class="insert_table">
                    <tr>
                        <th>html 파일</th>
                        <td>
                            <input id="date" name="date" type="text" value="{{date}}" required style="width:400px;">
                            <button onclick="search()">조회</button>
                            <button name="exportToExcel">엑셀다운</button>
                        </td>
                    </tr>
                </table>
            </form>

            <div id="html">
                
            </div>
            
        </div>
    </div>
</body>

</html>